
/* vi legger til .module i filnavnet for å få det til å bli en CSS module.
CSS modules skal hjelpe til med å unngå CSS kollisjoner */

/* For at denne CSS filen skal vinne over App.css, ser det ut til at jeg må opprette klasser. Det nytter ikke
å style elementer. Da blir det ignorert hvis man har en App.css. Copilot bekrefter dette, og sier at App.css
ofte lastes etter denne CSS-filen. I utgangspunktet vinner App.css da, siden den ble lastet sist (er jo det samme
som å stå nederst i denne filen). For å sikre mer spesifisitet, lager vi en klasse. Ved runtime tror jeg til og
med at .myHeading får et unikt navn a-la .myHeading asdfw */
.myHeading {
    color: green;
}
/* Navngir vi klassen slik må vi skrive {styles["list-group"]} i ListGroup_2.tsx filen 
.list-group {
    list-style: none;
} */

/* Navngir vi med camelCase i stedet for kan vi heller skrive {style.listGroup} i ListGroup_2.tsx filen, som er lettere */
.listGroup {
    list-style: none;
    color: green;
}